extends layout

block content
  img(id="logo" src="/mockator/img/logo.png" height="70")
  form(method="post" action='/mockator/scrape')
    div.input-group
      input(type="text" class="form-control" placeholder="URL to scrape..." name="url")
      span.input-group-btn
        button.btn.btn-default(type="submit") Scrape
      
  .row
    each page, i in (pages || [])
      .col-sm-6.col-md-4
        .thumbnail
          a(href='/mockator/pages/#{page.id}' target="_blank")
            img(src='/mockator/page-screenshots/#{page.id}.png')
          .caption
            h3= page.title
            form(method='post' action='/mockator/pages/#{page.id}?_method=DELETE')
              a.btn.btn-primary(href='/mockator/pages/#{page.id}' role='button' target="_blank") Mock
              | 
              button.btn.btn-default(type='submit') Remove
